.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.right-image {
  flex-direction: row-reverse;
}

.imageContainer {
  width: 50%;
  height: 400px;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
}
.imageContainer::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  background: transparent;
  border-top-left-radius: 15px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  z-index: 1;
  transition: 0.3s;
}
.imageContainer::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  background: transparent;
  border-bottom-right-radius: 15px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  z-index: 1;
  transition: 0.3s;
}
.banner img {
  border-radius: 15px 0;
  transition: 0.3s;
}

.imageContainer:hover::before,
.imageContainer:hover::after {
  width: calc(100% - 43px);
  height: calc(100% - 43px);
}
@media (max-width: 767px) {
  .imageContainer {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.detail p {
  margin-bottom: 20px;
}
.detail a {
  padding: 10px 20px;
  outline: 0;
  border: 1px solid purple;
  color: purple;
  background-color: transparent;
  border-radius: 15px;
}
