@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
}
input {
  font-family: "Cairo", sans-serif;
  outline: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Media Queries  */

/* Small  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium  */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large  */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

button {
  outline: 0;
  cursor: pointer;
}

/* overiding slick slider style  */
.slick-slider {
  overflow: hidden;
}
svg.slick-prev,
svg.slick-next {
  z-index: 2;
  width: 40px;
  height: 40px;
  color: #6d6d6d;
}
svg.slick-next {
  right: 20px;
}
svg.slick-prev {
  left: 20px;
}
svg.slick-prev:hover,
svg.slick-prev:focus,
svg.slick-next:hover,
svg.slick-next:focus {
  color: #6d6d6d;
  outline: none;
  background: white;
}
