.searchContainer {
  padding-top: 30px;
  padding-bottom: 60px;
}
.resultStatus {
  padding: 20px;
  background: #edf6ed;
  margin-bottom: 20px;
}
.filters {
  position: absolute;
  width: 300px;
}
.searchContainer section {
  margin-left: 320px;
}
.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: #3470d4;
  transform-origin: 0%;
  z-index: 4;
}
